<template>
  <div class="add-smoothie container">
    <h2 class="center-align indigo-text">Add Smoothie</h2>
    <form @submit.prevent="addSmoothie()">
      <div class="field title">
        <label for="title">Smoothie Title:</label>
        <input type="text" name="title" v-model="title">
      </div>
      <div v-for="(item, index) in ingredients" :key="index" class="field">
        <label for="ingredient">Ingredient:</label>
        <input type="text" name="ingredient" v-model="ingredients[index]">
        <i class="material-icons delete" @click="deleteIngredient(item)">delete</i>
      </div>
      <div class="field add-ingredient">
        <label for="add-ingredient">Add an ingredient: (press tab key to add more ingredients)</label>
        <input type="text" name="add-ingredient" @keydown.tab.prevent="addIngredient" v-model="ingredient">
      </div>
      <div class="field center-align">
        <p class="red-text" v-if="feedback">{{ feedback }}</p>
        <button class="btn pink">Add Smoothie</button>
      </div>
    </form>
  </div>
</template>

<script>
import database from '@/firebase/init.js'

export default {
  name: 'AddSmoothie',
  data () {
    return {
      title: null,
      ingredient: null,
      feedback: null,
      ingredients: []
    }
  },
  methods: {
    addSmoothie () {
      if (this.title) {
        this.feedback = null
        database.collection('smoothies').add({
          title: this.title,
          ingredients: this.ingredients,
          slug: this.title
        }).then(() => {
          this.$router.push({ name: 'index' })
        }).catch(err => console.log(err))
      } else {
        this.feedback = 'you must enter title!'
      }
    },
    addIngredient () {
      if (this.ingredient) {
        this.ingredients.push(this.ingredient)
        this.ingredient = null
        this.feedback = null
      } else {
        this.feedback = 'You must enter ingredients!'
      }
    },
    deleteIngredient (ingredient) {
      this.ingredients = this.ingredients.filter(item => {
        return item != ingredient
      })
    }
  }
}
</script>

<style>
.add-smoothie{
  margin-top: 60px;
  padding: 20px;
  max-width: 500px;
}
.add-smoothie h2{
  font-size: 2em;
  margin: 20px auto;
}
.add-smoothie .field{
  margin: 20px auto;
  position: relative;
}
.add-smoothie .delete{
  position: absolute;
  right: 0;
  bottom: 16px;
  color: #aaa;
  font-size: 1.4em;
  cursor: pointer;
}
</style>