<template>
    <div v-if="smoothie" class="edit-smoothie container">
        <h2>Edit {{ smoothie.title }} Smoothie</h2>
        <form @submit.prevent="editSmoothie()">
        <div class="field title">
            <label for="title">Smoothie Title:</label>
            <input type="text" name="title" v-model="smoothie.title">
        </div>
        <div v-for="(item, index) in smoothie.ingredients" :key="index" class="field">
            <label for="ingredient">Ingredient:</label>
            <input type="text" name="ingredient" v-model="smoothie.ingredients[index]">
            <i class="material-icons delete" @click="deleteIngredient(item)">delete</i>
        </div>
        <div class="field add-ingredient">
            <label for="add-ingredient">Add an ingredient: (press tab key to add more ingredients)</label>
            <input type="text" name="add-ingredient" @keydown.tab.prevent="addIngredient" v-model="ingredient">
        </div>
        <div class="field center-align">
            <p class="red-text" v-if="feedback">{{ feedback }}</p>
            <button class="btn pink">Update Smoothie</button>
        </div>
        </form>
    </div>
</template>

<script>
import database from '@/firebase/init.js'

export default {
  name: 'EditSmoothie',
  data () {
    return {
      smoothie: null,
      feedback: null,
      ingredient: null,
      refreshHandle: null
    }
  },
  created () {
    this.getSmoothieData()
  },
  methods: {
    getSmoothieData () {
        let ref = database.collection('smoothies').where('title', '==', this.$route.params.title)
            ref.get().then(snapshot => {
            snapshot.forEach(element => {
            this.smoothie = element.data()
            this.smoothie.id = element.id
            })
        })
    },
    addIngredient () {
      if (this.ingredient) {
        this.smoothie.ingredients.push(this.ingredient)
        this.ingredient = null
        this.feedback = null
      } else {
        this.feedback = 'You must enter ingredients!'
      }
    },
    deleteIngredient (ingredient) {
      this.smoothie.ingredients = this.smoothie.ingredients.filter(item => {
        return item != ingredient
      })
    },
    editSmoothie () {
      console.log(this.smoothie.title, this.smoothie.ingredients)
      if (this.smoothie.title) {
        this.feedback = null
        database.collection('smoothies').doc(this.smoothie.id).update({
          title: this.smoothie.title,
          ingredients: this.smoothie.ingredients,
          slug: this.smoothie.title
        }).then(() => {
          this.$router.push({ name: 'index' })
        }).catch(err => console.log(err))
      } else {
        this.feedback = 'you should enter title'
      }
    }
  }
}
</script>

<style>
.edit-smoothie{
  margin-top: 60px;
  padding: 20px;
  max-width: 500px;
}
.edit-smoothie h2{
  font-size: 2em;
  margin: 20px auto;
}
.edit-smoothie .field{
  margin: 20px auto;
  position: relative;
}
.edit-smoothie .delete{
  position: absolute;
  right: 0;
  bottom: 16px;
  color: #aaa;
  font-size: 1.4em;
  cursor: pointer;
}
</style>