<template>
  <div class="index container">
    <div class="card" v-for="smoothie in smoothies" :key="smoothie.id">
      <div class="card-content">
        <i class="material-icons delete" @click="deleteSmoothie(smoothie.id)">delete</i>
        <h2 class="indigo-text">{{smoothie.title}}</h2>
        <ul class="ingredients">
          <li v-for="(item, index) in smoothie.ingredients" :key="index">
            <span class="chip">{{item}}</span>
          </li>
        </ul>
      </div>
      <span class="btn-floating btn-large halfway-fab pink">
        <router-link :to="{ name: 'editSmoothie', params: { id: smoothie.id, title: smoothie.title } }">
          <i class="material-icons edit">edit</i>
        </router-link>
      </span>
    </div>
  </div>
</template>

<script>
import database from '@/firebase/init.js'

export default {
  name: 'index',
  data () {
    return {
      smoothies: []
    }
  },
  created () {
    this.readSmoothie()
  },
  methods: {
    readSmoothie() {
      database.collection('smoothies').get()
      .then(snapshot => {
        this.smoothies = []
        snapshot.forEach(element => {
          let smoothie = element.data()
          smoothie.id = element.id
          this.smoothies.push(smoothie)
        })
      })
    },
    deleteSmoothie(id) {
      database.collection('smoothies').doc(id).delete()
      .then(() => {
        this.smoothies = this.smoothies.filter(smoothie => {
          return smoothie.id !== id
        })
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 60px;
}
.index h2{
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0;
}
.index .ingredients{
  margin: 30px auto;
}
.index .ingredients li{
  display: inline-block;
}
.index .delete{
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  color: #aaa;
}
</style>
